.resources-container{
    margin: 1rem 0 2rem 0rem;
    .resources-section-title{
        font-size: 2.5rem;
        font-weight: bold;
        color: #073144;
        text-align: center;
    }
   

    .resources{
        align-content: center;
      justify-content: center;
      display: flex;
      text-align: center;

        .resources-card {
            width: 25rem;
            height: auto;
            display: block;
            justify-content: center;
            text-align: center;
            box-shadow: none;
            background-color: transparent;
            p {
              padding: 0 1.9rem;
              display: flex;
            }
            .resources-card-header {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              height: fit-content;
    
              .resources-logo {
                
                line-height: 0;
                // justify-content: center;
              }
            }
            .resources-button {
              padding: 0 1rem;
              background-color: rgb(81, 80, 75);
              justify-content: center;
              align-self: flex-end;
              margin-top: 1.2rem;
              font-size: 1.2rem;
              color: aliceblue;
              text-decoration: none;
            }
          }
    }
   
    
}

.yellow-icon{
    color: #f3ba2c;
}