<!-- responsive-grid.component.html -->

<div id="contact-us-container" class="contact-us-container">
   
<div class="grid-container">
    <div class="grid-item" *ngFor="let img of images">
        <img src="{{ img.path }}" alt="{{img.alt}}" width="80%" height="80%">
    </div>

  </div>
  <div class="contributors">
    <img src="../../assets/img/DBpedia-Logo.png" alt="">
  <p> Meti Bayissa, Hizkiel Alemayehu, Prof. Dr. Ricardo Usbek C, Tilahun Taffa </p>


  </div>
  <div class="contact-us">
    <a href="http://" target="_blank" rel="noopener noreferrer" mat-button> Linkedin <mat-icon>linkedin</mat-icon></a>
    <a href="http://" target="_blank" rel="noopener noreferrer" mat-button> Email us <mat-icon>email</mat-icon></a>
    
      
</div>
</div>