.navbar {
  width: 100%;
  .mat-toolbar{

  
    display: flex;
    justify-content: space-between;
    background-color: #073144;
    color: #f0f8ff;
    padding:0;
    

    .navbar-links {
      display: flex;
      align-items: center;
      font-weight: bold;
      // padding: 20px 5px;
      // margin: 10px 5px;

      button {
        display: block;
        padding: 1rem 1.25rem 1rem 1.25rem;
        margin-left: 10px;
        font-size: 1.2rem;
        height: fit-content;
        
        
        
      }
      .vertical-line {
          height: 100%;
          width: 1px;
          background-color: #f70808;
          margin: 0 10px;
        
      }
    }
    .navbar-lang {
      position: relative; /* For positioning the dropdown */
      display: flex;
      align-items: center;
      margin: 0 1.4rem;
      
      .language-toggle-button span{
        display: flex;
        gap:5px;
        font-size: 1.2rem;
        align-items: center;
      }
  
      .language-menu {
        min-width: 150px; /* Adjust as needed */
       
      }
    }
  }
    
  }
  
  .active-link {
    color: #ff4081; /* Active link color */
  }

  