<nav class="navbar">
  <mat-toolbar color="primary" class="mat-toolbar">
    <div class="navbar-links">
      <button
        mat-button
        routerLink="/"
        fragment="about-container"
        i18n="@@navbar-documenation"
        aria-label="About"
      >
        <mat-icon class="hide-on-small-screen">info</mat-icon>
        <span class="show-on-large-screen">{{ "navbar.about" | translate }}</span>
      </button>

      <button
        mat-button
        [routerLink]="['/']"
        fragment="query-service-container"
        routerLinkActive="active-link"
        i18n="@@navbar-query"
        aria-label="Query"
      >
        <mat-icon class="hide-on-small-screen">search</mat-icon>
        <span class="show-on-large-screen">{{ "navbar.query" | translate }}</span>
      </button>

      <button
        mat-button
        routerLink="/"
        fragment="documentation-container"
        i18n="@@navbar-documenation"
        aria-label="Documentation"
      >
        <mat-icon class="hide-on-small-screen">description</mat-icon>
        <span class="show-on-large-screen">{{ "navbar.documenation" | translate }}</span>
      </button>

      <button
        mat-button
        routerLink="/"
        fragment="resources-container"
        i18n="@@navbar-resources"
        aria-label="Resources"
      >
        <mat-icon class="hide-on-small-screen">folder</mat-icon>
        <span class="show-on-large-screen">{{ "navbar.resources" | translate }}</span>
      </button>

      <button
        mat-button
        routerLink="/"
        fragment="contact-us-container"
        i18n="@@navbar-contact_us"
        aria-label="Contact Us"
      >
        <mat-icon class="hide-on-small-screen">mail</mat-icon>
        <span class="show-on-large-screen">{{ "navbar.contact_us" | translate }}</span>
      </button>
    </div>

    <div class="navbar-lang">
      <button
        mat-button
        [matMenuTriggerFor]="languagesMenu"
        class="language-toggle-button"
        i18n="@@navbar-language"
      >
        <span>
          {{ "navbar.language" | translate }}
          <mat-icon *ngIf="language === 'en'">🇬🇧</mat-icon>
          <mat-icon *ngIf="language === 'am'">🇪🇹</mat-icon>
        </span>
      </button>

      <mat-menu
        #languagesMenu="matMenu"
        yPosition="below"
        xPosition="after"
        class="language-menu"
      >
        <button
          mat-menu-item
          (click)="switchLanguage('am')"
          i18n="@@navbar-language_amharic"
        >
          {{ "navbar.language_amharic" | translate }} 🇪🇹
        </button>
        <button
          mat-menu-item
          (click)="switchLanguage('en')"
          i18n="@@navbar-language_english"
        >
          {{ "navbar.language_english" | translate }} 🇬🇧
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</nav>

<style>
  /* General styling for the buttons */
  .navbar-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .navbar-links button {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* Icons only on small screens */
  .hide-on-small-screen {
    display: none;
  }

  .show-on-large-screen {
    display: inline;
  }

  /* Responsive styling for smaller screens */
  @media (max-width: 600px) {
    .navbar-links {
      flex-direction: column; /* Stack buttons vertically */
      align-items: center;
    }

    .navbar-links button {
      font-size: 12px; /* Smaller font for the buttons */
      padding: 5px;
    }

    /* Show icons only, hide button text on small screens */
    .hide-on-small-screen {
      display: inline-block;
    }

    .show-on-large-screen {
      display: none;
    }

    .navbar-lang {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
</style>
